node_modules/**
output/**
examples/node_modules/**
examples/example-generated-sdk-ts/**
examples/example-generated-sdk-js/**
test/e2e/generated-sdks/**
**/*.save
**/*.swp
**/*.tgz
dist/
test-results/
playwright-report/
.idea
.vscode
**/.DS_Store

.iterm2-project
scripts/**